<section class="advantages">
    <div class="container main-advantages-container">
        <div class="advantages-container">
        <ol class="advantages-list" >
            <li class="advantages-item">
                    <h3 class="number">01</h3>
                    <p class="advantages-text">Swimming and water sports: try your hand at water skiing</p>
            </li>
            <li class="advantages-item">
                    <h3 class="number">02</h3>
                    <p class="advantages-text">Fishing: try to catch your own dinner</p>
            </li>
            <li class="advantages-item">
                    <h3 class="number">03</h3>
                    <p class="advantages-text advantages-text-3-4">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water </p>
            </li>
            <li class="advantages-item">
                    <h3 class="number">04</h3>
                    <p class="advantages-text advantages-text-3-4">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
            </li>
        </ol>
    </div>
        <picture>
        <source srcset="./img/advantages/advantages-mb.jpg 1x, ./img/advantages/advantages-mb2x.jpg 2x" media="(max-width: 767px)">
        <source srcset="./img/advantages/advantages-tab.jpg 1x, ./img/advantages/advantages-tab2x.jpg 2x" media="(max-width: 1279px)">
        <source srcset="./img/advantages/advantages-dp.jpg 1x, ./img/advantages/advantages-dp2x.jpg 2x" media="(max-width: 1439px)">
        <source srcset="./img/advantages/advantages-dp-1440.jpg 1x, ./img/advantages/advantages-dp-14402x.jpg 2x" media="(min-width: 1440px)">
        <img src="./img/advantages/advantages-mb.jpg"
        alt="advantages"
        width="768"
        class="advantages-foto">
    </div>
</div>
</section>