<header class="header-container">
    <a href="#" class="header-logo">yachtjet</a>

    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-list-item">
                <a href="#" class="header-nav-link">About</a>
            </li>

            <li class="header-list-item">
                <a href="#" class="header-nav-link">Yachts</a>
            </li>

            <li class="header-list-item">
                <a href="#reviews" class="header-nav-link">Reviews</a>
            </li>
        </ul>
    </nav>

    <ul class="header-social-list">
        <li class="header-social-item">
            <a href="https://www.instagram.com/goitclub/" class="header-social-link" target="_blank">
                <svg class="header-social-icon" height="24" width="24">
                    <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>

        <li class="header-social-item">
            <a href="https://www.youtube.com/c/GoIT" class="header-social-link" target="_blank">
                <svg class="header-social-icon" height="24" width="24">
                    <use href="/img/icons.svg#icon-youtube"></use>
                </svg>
            </a>
        </li>

        <li class="header-social-item">
            <a href="https://www.facebook.com/goITclub/" class="header-social-link" target="_blank">
                <svg class="header-social-icon" height="24" width="24">
                    <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    </ul>

    <button class="mob-menu-btn">
        <svg width="28" height="28" class="mob-menu-icon">
            <use href="/img/icons.svg#icon-header-burger"></use>
        </svg>
    </button>
</header>