<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Document</title> 
    <link rel="stylesheet" href="../css/rent-a-yacht.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
</head> 
<body> 
    <section class="yacht-rent">
        <div class="container form-div-rent">
            <div>
            <h2 class="rent-h">Rent a yacht now</h2>
             <form class="form-rent">
                <!-- <div class="div-rent-a-yacht">  -->
                    <label for="name-yacht" class="label-rent-a-yacht">
                    </label>
                    <input
                    type="text"
                    name="name-yacht-name"
                    placeholder="Full Name"
                    id="name-yacht"
                    class="input-rent-a-yacht">
                <!-- </div>  -->
                <!-- <div class="div-rent-a-yacht">  -->
                    <label for="email-yacht" class="label-rent-a-yacht">
                    </label>
                    <input
                    type="email"
                    name="email-yacht-rent"
                    placeholder="Email"
                    id="email-yacht"
                    class="input-rent-a-yacht">
                <!-- </div>  -->
                <!-- <div class="div-rent-a-yacht">  -->
                    <label for="tel-yacht" class="label-rent-a-yacht">
                    </label>
                    <input
                    type="tel"
                    name="tel-yacht-tel"
                    placeholder="Phone number"
                    id="tel-yacht"
                    class="input-rent-a-yacht">
                <!-- </div>
                <div class="placeholder-comm">  -->
                    <label for="user-comment" class="label-modal"></label>
                      <textarea class="textarea-input"
                        placeholder="Comment"
                        name="user-comments"
                        id="user-comment"></textarea>
    <!--
                </div>  -->
                <button class="send-rent-a-yacht" type="submit">Send</button>
             </form></div>
        <div class="picture-div-rent-a-yacht">
            <picture>
                <source srcset="../img/rent-a-yacht/rent-mb.jpg 1x, ../img/rent-a-yacht/rent-mb2x.jpg 2x" media="(max-width:767px)">
                <source srcset="../img/rent-a-yacht/rent-tab.jpg 1x, ../img/rent-a-yacht/rent-tab2x.jpg 2x" media="(min-width:768px)">
                <source srcset="../img/rent-a-yacht/rent-dp.jpg 1x, ../img/rent-a-yacht/rent-dp2x.jpg 2x" media="(min-width:1280px)">
                <source srcset="../img/rent-a-yacht/rent-dp-1440.jpg 1x, ../img/rent-a-yacht/rent-dp-14402x.jpg 2x" media="(min-width:1440px)">
                <img src="../img/rent-a-yacht/rent-mb.jpg"
                 alt="yacht-in-sea" class="yacht-in-sea-img">
            </picture>
        </div>
        </div>
      </section>
</body> 
</html>