<!-- <section class="reviews" id="reviews">
    <div class="container reviews-container">
        <div class="reviews-text-wrap">
            <h2 class="reviews-title">YachtJet take pride in providing the best possible service and experience to our customers</h2>
            <p class="reviews-text">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out what they have to say about their journey with us.</p>
        </div>
        <ul class="reviews-list">
            <li class="reviews-list-item">
                <div class="wrap-reviews-img">
                    <img src="../img/reviews/reviews-1.jpg" srcset="../img/reviews/reviews-1.jpg 1x, ../img/reviews/reviews-12x.jpg 2x" alt="men" class="reviews-image">
                </div>
                <div class="wrap-reviews-text">
                    <h3 class="reviews-list-title">John Wax</h3>
                    <p class="reviews-list-text">I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.</p>
                </div>
            </li>
            <li class="reviews-list-item reviews-list-item-tab">
                <div class="wrap-reviews-img">
                    <img src="../img/reviews/reviews-2.jpg"  srcset="../img/reviews/reviews-2.jpg 1x, ../img/reviews/reviews-22x.jpg 2x" alt="women" class="reviews-image">
                </div>
                <div class="wrap-reviews-text">
                    <h3 class="reviews-list-title">Victoria Romashenko</h3>
                    <p class="reviews-list-text">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all the amenities we needed, and the crew was attentive and friendly.</p>
                </div>
            </li>
            <li class="reviews-list-item reviews-list-item-dp">
                <div class="wrap-reviews-img">
                    <img src="../img/reviews/reviews-3.jpg" srcset="../img/reviews/reviews-3.jpg 1x, ../img/reviews/reviews-32x.jpg 2x" alt="men" class="reviews-image">
                </div>
                <div class="wrap-reviews-text">
                    <h3 class="reviews-list-title">Ihor Trachuk</h3>
                    <p class="reviews-list-text">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!</p>
                </div>
            </li>
        </ul>
    </div>
</section> -->
<section class="reviews" id="reviews">
    <div class="container reviews-container">
        <div class="reviews-text-wrap">
            <h2 class="reviews-title">YachtJet take pride in providing the best possible service and experience to our customers</h2>
            <p class="reviews-text">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out what they have to say about their journey with us.</p>
        </div>
        <ul class="reviews-list">
            <li class="reviews-list-item">
                <div class="reviews-container-card">
                    <img src="../img/reviews/reviews-1.jpg" srcset="../img/reviews/reviews-1.jpg 1x, ../img/reviews/reviews-12x.jpg 2x" alt="men" width="56" class="reviews-image">
                    <div class="wrap-reviews-text">
                        <h3 class="reviews-list-title">John Wax</h3>
                        <p class="reviews-list-text">I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew took care of everything.</p>
                    </div>
                </div>
            </li>
            <li class="reviews-list-item">
                <div class="reviews-container-card">
                    <img src="../img/reviews/reviews-2.jpg"  srcset="../img/reviews/reviews-2.jpg 1x, ../img/reviews/reviews-22x.jpg 2x" alt="women" class="reviews-image">
                    <div class="wrap-reviews-text wrap-reviews-text-2">
                        <h3 class="reviews-list-title">Victoria Romashenko</h3>
                        <p class="reviews-list-text reviews-list-text-2">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all the amenities we needed, and the crew was attentive and friendly.</p>
                    </div>
                </div>
            </li>
            <li class="reviews-list-item">
                <div class="reviews-container-card">
                    <img src="../img/reviews/reviews-3.jpg" srcset="../img/reviews/reviews-3.jpg 1x, ../img/reviews/reviews-32x.jpg 2x" alt="men" class="reviews-image">
                    <div class="wrap-reviews-text">
                        <h3 class="reviews-list-title">Ihor Trachuk</h3>
                        <p class="reviews-list-text reviews-list-text-2">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor areas were perfect for relaxing and entertaining. Worth every penny!</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>