<ul class="socials">
    <li class="socials-item">
        <a href="" class="socials-link">
            <svg class="socials-icon" width="19" height="19">
                <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
        </a>
    </li>
    <li class="socials-item">
        <a href="" class="socials-link">
            <svg class="socials-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-youtube"></use>
            </svg> </a>
    </li>
    <li class="socials-item">
        <a href="" class="socials-link">
            <svg class="socials-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-facebook"></use>
            </svg> </a>
    </li>
</ul>



<!--  Посилання на Кнопки-->

<!-- MOBILE MENU -->

<a class="mobmenu-link" href="#about-us">about</a>
<a class="mobmenu-link" href="#our-yachts">yachts</a>
<a class="mobmenu-link" href="#reviews">reviews</a>

<!-- Header -->

<a class="header-nav-link" href="#about-us">about</a>
<a class="header-nav-link" href="#our-yachts">yachts</a>
<a class="header-nav-link" href="#reviews">reviews</a>


<!-- Hero -->

<a class="hero-btn-link" href="#rent-a-yacht">Yacht rental</a>

<!-- About us -->

<a class="rental-btn" href="#rent-a-yacht">Yacht rental</a>

<!-- <button type="button" class="rental-button">Yacht rental</button> -->

<!-- Advantages -->

<a class="send-rent-btn" href="">Yacht rental</a>

<!-- <button class="send-rent-a-yacht" type="submit">Send</button> -->

<!-- Footer -->

<a class="footer-nav-link" href="#about-us">about</a>
<a class="footer-nav-link" href="#our-yachts">yachts</a>
<a class="footer-nav-link" href="#reviews">reviews</a>



<!-- About us для подстраховки-->