<ul class="socials">
    <li class="socials-item">
        <a href="" class="socials-link">
            <svg class="socials-icon" width="19" height="19">
                <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
        </a>
    </li>
    <li class="socials-item">
        <a href="" class="socials-link">
            <svg class="socials-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-youtube"></use>
            </svg> </a>
    </li>
    <li class="socials-item">
        <a href="" class="socials-link">
            <svg class="socials-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-facebook"></use>
            </svg> </a>
    </li>
</ul>