/* ----- MOBILE MENU ----- */

.mobile-menu {
  /* position: relative;
  padding-top: 72px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e1823;
  padding-bottom: 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    /* scroll on overflow */
    overflow-y: auto;
    /* hide menu */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* Примусове відображення */
/* .mobile-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */

.mobile-menu-container {
  /* position: relative;
  /* padding-bottom: 40px; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-header-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfbfb;
  border-radius: 8px;
  top: 20px;
  left: 20px;
  right: 20px;
  margin: 0 auto;
  min-width: 280px;
  max-width: 335px;
  padding: 0 20px;
}
/* .header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  padding: 12px 0;
} */

.menu-close-btn {
  background-color: transparent;
  border: none;
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-close-icon {
  margin: 6px;
  fill: #055545;
}


.mobmenu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 4px;
  padding-top: 259px;
}

.mobmenu-link {
  border-radius: 8px;
  background-color: rgba(27, 65, 75, 0.5);
  display: block;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  text-decoration: none;
  min-width: 91px;
  min-height: 40px;
  padding: 15px 25px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobmenu-link:focus, 
.mobmenu-link:hover {
  background-color: #1B414B;
}

.mobmenu-hover-link {
  background-color: #1B414B;
}

.mobmenu-soc-list{
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.mobmenu-soc-item {
  /* width: 19px;
  height: 19px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mobmenu-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon {
  fill: #fbfbfb;
}

.soc-icon:hover, 
.soc-icon:focus {
  fill: rgba(251, 251, 251, 0.8);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

/* Hide MENU on TABLET */
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
