.reviews-container {
    padding-top: 40px;
    padding-bottom: 80px;
}

.reviews-text-wrap {
    margin-bottom: 40px;
}

.reviews-title {
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 25px;
}

.reviews-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    opacity: 0.4;  
}

.reviews-list-item {
    border-radius: 24px;
    padding: 32px 8px;
    width: 100%;
    background-color: #fbfbfb;
}

.reviews-container-card{
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    padding-right: 8px;
    padding-left: 8px;
    /* max-width: 320px; */

}

.reviews-image {
    border-radius: 72px;
}

.wrap-reviews-text {
    display: flex;
    gap: 8px;
    /* max-width: 303px; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.reviews-list-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #040306;
    
}
.reviews-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(4, 3, 6, 0.4);

}


.reviews-list-item:nth-child(n+2) {
    display: none;
}

@media screen and (min-width: 768px) {

    .reviews-container {
        padding-top: 75px;
        padding-bottom: 150px;
    }
    .reviews-list {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .reviews-list-item {
        width: calc((100% - 1 * 32px) / 2);
    }

    .reviews-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        max-width: 571px;
    }
    
    .reviews-text-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 75px;
        
    }

    .wrap-reviews-text-2 {
        padding-right: 4px;
        padding-left: 4px;
        /* max-width: 304px; */
    }

    .reviews-list-item:nth-child(2) {
        display: flex;
    }
    .reviews-list-item:nth-child(n+3) {
        display: none;
    }

}
      
@media screen and (min-width: 1280px) {

    .reviews-list {
        gap: 26px;
    }

    .reviews-container-card {
        padding-right: 0px;
        padding-left: 0px;
    
    }
    .reviews-list-item:nth-child(3) {
        display: flex;
    }

    .reviews-list-item {
        width: calc((100% - 2 * 26px) / 3);
        padding-right: 28px;
        padding-left: 28px;
        max-height: 282px;
    }

    .reviews-title {
        max-width: 854px;
    }

    .wrap-reviews-text-2 {
        padding-right: 0px;
        padding-left: 0px;}
    
        
    .reviews-list-text-3 {
        padding-left: 13.5px;
        padding-right: 13.5px;

        }
} 

 @media screen and (min-width: 1440px) {

    .container {
        max-width: 1440px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .reviews-list {
        gap: 32px;
    }

    .reviews-list-item {
        padding-right: 36px;
        padding-left: 36px;
        width: calc((100% - 2 * 32px) / 3);
    }

}
